Compression violates semantic security

As documented in Ben Laurie's blog (http://www.links.org/?p=1277), compression before encryption violates semantic security.

Though both actions are not mandated in the spec, it does mandate compress-then-encrypt ordering.

I am not saying that there is a manifested attack against ACIs due to this. But I do think that in light of recent events, if we could avoid such trap, perhaps we should.

Wow. What a read. I guess this problem is broadly unknown in the development community.

While there is a theoretical flaw here, there's also 30+ years of Unix habits distributing compressed tarballs. That encryption occurs as an outermost layer seems... obvious and unavoidable.

If you can think of an avoidance strategy, I'd love to hear it: what would the suggested fix be?

Doesn't encrypting before compression make compression useless? Good encryption should obscure the repeating parts that compression works with, making the encrypted file statistically closer to noise, so the compression ratio would be much worse after compression. I would expect that encrypting uncompressed data would bring the compression ratio close enough to 1 that we can just skip the compression (and the spec allows you to do that if you wish so).

As pointed out by @globalcitizen, there is a lot of precedent for encrypting compressed data, most obvious being in-transit protection by TLS when transferring compressed data. SSH transport layer also compresses payload before encryption (see https://tools.ietf.org/html/rfc4253#section-6.2).

Given that a lot of plaintext in the image is common - not only at the beginning of the image, but also in the middle (think base system files, common libraries, etc), one could possibly argue that compression can prevent known plaintext attacks or make them harder. Given that the compression can be done with different utilities, and it is not known before decryption which one is used (if any), and which compression level has been used, the metadata leak seems to be obscured by that.

If one is concerned by this particular issue, the spec allows using uncompressed tarballs, so compression can be prohibited within the organization (or disabled in particular implementation). Compressing after encryption is useless, so – unless I'm missing some very clever trick – this issue can be noted in the spec, and the implementation may include a configuration option that would disable compression support.

I agree that there is no benefits to compression after encryption due to increased entropy. So the "fix" is most likely a "Security considerations" section similar to section 6 in RFC 3749 (https://tools.ietf.org/html/rfc3749#section-6).

I am not an expert in these matters but the fact that you can simply not compress your image if you wish solves the problem in the spec for those who want to avoid compression. But, honestly, the type of data that appc will generally contain benefits greatly from compression.

@namn If you want to add a note and link to the rfc3749 discussion in the SPEC around this consideration please do.

Doing compression as part of an encryption suite violates semantic security. But if we view compression as distinct prior step so that plaintext is compressed data, well then there are no problems.

+1 to @eyakubovich 's take

@namn would you mind coming up with a proposal for a security considerations section?

Addressed by #402