AC Name formatting is potentially problematic

I see the desire to have one single name format, but I find it worrisome.

The reason kubernetes uses DNS formatting rather than "DNS plus" as this does is so that these names could conceivably be used in DNS.  The AC Name format precludes that assumption.  Consider port names - if they are literally DNS compatible (specifically DNS labels and not subdomains), we can generate SRV records for named ports.  If they can contain `/` and `.` that is not practical.

Using AC Name for things that have global namespaces makes sense (label keys, image names).  Using something more restrictive for things with smaller scope is better, I think.  Apps in a pod, mounts, volumes, ports, etc.  They are all relative to their pod anyway.

Discuss.

Having a more restrictive type for some of these fields makes sense to me; arguably we got lazy using AC Name for many more fields than its original purpose...

I'm a fan of DNS RFC 1132 (which adds onto RFC 1035 and RFC 952) labels.  I could even see just RFC 1035 (disallows leading digits) if there is worry, but I think it's fine.

>
Using AC Name for things that have global namespaces makes sense (label keys, image names). Using something more restrictive for things with smaller scope is better, I think. Apps in a pod, mounts, volumes, ports, etc. They are all relative to their pod anyway.

I think this is a good point. Using DNS_LABEL in app.Name sounds like a good answer to https://github.com/appc/spec/pull/247 IMO


Fixed by #398